.cabeza h1{

    font-size: 30px;
    color: white;
    margin: 0;

}

.cabeza h2 {

    font-size: 16px;

}

.div-header ol li{

    display: inline-block;
    margin: 12px;
    
}

.div-header ol li a{

    display: inline-block;
    margin: 12px;
    color: white;
    
}


