h1{
    color: orange;
    font-size: 24px;
    background-color: white;
}

h2{
    color:  red;
    font-size: 24px;
}

p{
    color: black;
    font-size: 18px;
}

image{
    display: block;
    font-size: 16px;
}